<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">

    <nav class="navbar">
        <div class="nav"> 
         <div class="logo"><img src="https://www.shutterstock.com/image-vector/healthy-food-logo-design-combination-260nw-2398835953.jpg" alt="" width="50px" height="50px"></a></div>
         <ul>
             <li><a href="#">Home</a></li>
             <li><a href="#">Cultural Flavours</a></li>
             <li><a href="#">Food stories</a></li>
             <li><a href="#">Explore</a></li>
         </ul>
         
     </div>
 </nav>
</head>
<body>
    <h1>Test</h1>
</body>
</html>
