<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/recipes.css') }}">

    <nav class="navbar">
        <div class="nav"> 
         <div class="logo"><img src="https://www.shutterstock.com/image-vector/healthy-food-logo-design-combination-260nw-2398835953.jpg" alt="" width="50px" height="50px"></a></div>
         <ul>
             <li><a href="#">Home</a></li>
             <li><a href="#">Cultural Flavours</a></li>
             <li><a href="#">Food stories</a></li>
             <li><a href="#">Explore</a></li>
         </ul>
                                            
     </div>
 </nav>
</head>
<body>
    <h1>History and culture of the dishes</h1>
    <div class="container">
        <h3 class="dish name">Jollof rice</h3>
        <h4 class="History">
            Jollof rice, a beloved dish across West Africa, has a rich history rooted in the ancient Wolof Empire. The dish's origins can be traced back to the 1300s, where the Wolof Empire (also known as the Jolof Empire) thrived in what is now Senegal, The Gambia, and Mauritania. Rice cultivation was central to this region, and the dish known as thieboudienne, with rice, fish, shellfish, and vegetables, was a staple. As the empire expanded, the Wolof people dispersed, taking this dish with them, which eventually evolved into what we know as jollof rice. 
        </h4>
        <h4 class="recipe">If you want to make this dish, here is a link to the recipe: https://zenaskitchen.com/my-mums-jollof-rice/</h4>
    </div>
</body>
</html>
